html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: 'Raleway';
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.content .col-lg-1,.content .col-lg-10,.content .col-lg-11,.content .col-lg-12,.content .col-lg-2,.content .col-lg-3,.content .col-lg-4,.content .col-lg-5,.content .col-lg-6,.content .col-lg-7,.content .col-lg-8,.content .col-lg-9,.content .col-md-1,.content .col-md-10,.content .col-md-11,.content .col-md-12,.content .col-md-2,.content .col-md-3,.content .col-md-4,.content .col-md-5,.content .col-md-6,.content .col-md-7,.content .col-md-8,.content .col-md-9,.content .col-sm-1,.content .col-sm-10,.content .col-sm-11,.content .col-sm-12,.content .col-sm-2,.content .col-sm-3,.content .col-sm-4,.content .col-sm-5,.content .col-sm-6,.content .col-sm-7,.content .col-sm-8,.content .col-sm-9,.content .col-xs-1,.content .col-xs-10,.content .col-xs-11,.content .col-xs-12,.content .col-xs-2,.content .col-xs-3,.content .col-xs-4,.content .col-xs-5,.content .col-xs-6,.content .col-xs-7,.content .col-xs-8,.content .col-xs-9{
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.x-hidden{
	display: none;
}
.x-left{
	float: left;
}
.x-right{
	float: right;
}
.x-relative{
	position: relative;
}
.x-absolute{
	position: absolute;
}
.x-fixed{
	position: fixed;
}
.x-clear{
	clear: both;
}
.x-text-center{
	text-align: center;
}
.x-text-right{
	text-align: right;
}
.x-text-left{
	text-align: left;
}
.x-bold{
	font-weight: bold;
}
.x-red{
	color: red;
}
.x-white{
	color: white;
}
.x-black{
	color: black;
}
.x-gray{
	color: #666;
}
.x-uppercase{
	text-transform: uppercase;
}
.x-circle{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}
.x-fake-br{
	width: 150px;
	border-bottom: 2px solid red;
	line-height: 30px !important;
}
.x-fake-br-0{
	width: 150px;
	border-bottom: 2px solid red;
	line-height: 0px !important;
}
.x-fake-br-white{
	width: 150px;
	border-bottom: 2px solid white;
	line-height: 0px !important;
	margin-left: 5px !important;
}
.x-div-center{
	display: block;
	margin: 0 auto;
}
.x-flex-column{
	display: flex;
   flex-direction: column;
   justify-content: center;
}
.x-flex-row{
	display: flex;
   flex-direction: row;
   justify-content: center;
}
